
footer {
    margin: 0;         
    padding: 0;        
    height: auto;    
    width: 100%;       
}



/* Estilo del pie de página */
.h3pie {
    text-align: center;
    color: blue;
    text-shadow: 0 1px white;
    margin-bottom: 0; 
    padding: 0; 
}
