.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.language-table {
  width: 90%;
  max-width: 1200px;
  border-collapse: collapse;
  background-color: #f4a261;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.language-table th {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  padding: 12px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.language-table td {
  background-color: #f4a261;
  color: black;
  border: 1px solid black;
  padding: 12px;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease; 
}


.language-table td:hover {
  background-color: #e76f51; /* Color de columna en hover */
}


.language-table tr:hover td:nth-child(1) {
  background-color: #e76f51; /* Primera columna */
}

.language-table tr:hover td:nth-child(2) {
  background-color: #f1faee; /* Segunda columna */
}

.language-table tr:hover td:nth-child(3) {
  background-color: #2a9d8f; /* Tercera columna */
}

.language-table tr:hover td:nth-child(4) {
  background-color: #4b879f; /* Cuarta columna */
}
